.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
.header{
    background: #34495e;
}
.text-white{
    color:#fff;
}
.img-perfil{
    width: 45px;
}
.card{
    -webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}
.blog-header-init{
 
   background: #1e262f;
    padding: 18px;
}
.card:hover{
    border: 1px solid rgb(2, 117, 216);    
}
hr{
    background: #fff;
}